body {
	background-color: #e9ebee;
}
header {
	background-color: #3e67b1;
	color: white;
	h1 a {
		color: white;
	}
	ul li:hover {
			background-color: darken(#3b5998, 10%);
	}
}
.formulario {
	input[type="submit"] {
		background-color:#3e67b1;
		color: white;
		border: none;
		cursor: pointer;
	}
}

footer, header ul ul {
	background-color: #263238;
	color: white;
}

