body{background-color:#e9ebee}header{background-color:#3e67b1;color:#fff}header h1 a{color:#fff}header ul li:hover{background-color:#2d4373}.formulario input[type=submit]{background-color:#3e67b1;color:#fff;border:none;cursor:pointer}footer,header ul ul{background-color:#263238;color:#fff}