h1 {
	text-align: center;
}

table input[type="text"], table label, select {
	padding: 5px;
	display: block;
}

input[type="submit"] {
	padding: 10px 20px;
	text-transform: uppercase;
}

#outros {
	border: 1px solid black;
	margin: 20px 0;
}

.falseIsAgenteIntegracao {
	display: none;
}

button {
	float:left;
	border-width: 1px;
	cursor:pointer;
	padding:5px
}

.message {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}